.player-container {
    position: relative;
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .player-name {
        position: absolute;
        text-transform: capitalize;
        top: 70px;
        left: 20px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .player-container {
        .player-name {
            top: -30px;
            left: 0;
        }
    }
}