@import '../../App.scss';

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 50px auto;

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding: 20px;
        border: 1px solid $grey-2;
        border-radius: 5px;
        width: 400px;

        .form-text {
            margin-bottom: 10px;
        }
    }
}